.selection_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0 3em;
  color: #000;
  background: #bfa3ec;
  border-radius: 10px;
  min-width: 450px;
  min-height: 400px;
}
